
<ul class="nav navbar-nav">
<li><a class="navbar-brand" href="/">Buscar estacionamiento</a></li>
<li><%= link_to "Registrate", pages_cuenta_path  %></li>
<li><%= link_to "Inicia Sesión", pages_ingreso_path  %></li>
<li><%= link_to "Publica tu estacionamiento", pages_nuevo_estacionamiento_path  %></li>
<li><%= link_to "¿Qué es InstantParking?", pages_que_es_path  %></li>
</ul>