

<div class="container col-xs-6 center">
			<div class="row main">
				<div class="main-login main-center">
           		<h4 class="title">Nuevo Usuario</h4>
           		<hr />
					<form class="form-horizontal" method="post" action="#">
						
						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Nombre y Apellidos"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Ingrese su Email"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Nombre de usuario"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Ingrese Contraseña"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirme Contraseña"/>
								</div>
							</div>
						</div>

						<div class="form-group text-center"><!-- btn-lg -->
							<button type="button" class="btn btn-primary btn-md ">&nbsp;&nbsp;&nbsp;Crear Cuenta&nbsp;&nbsp;&nbsp;</button>
						</div>
					</form>

                <hr/>
				</div>
			</div>
		</div>
		
		