
    
    <header>
        <img src='images/logo.jpg'/>
    </header>
    
    <article>
    <section>
    <h3>Encuentra y reserva tu estacionamiento</h3>
    <nav>    
        
        
        <div class="row">
            
        <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Dirección / Distrito / Ciudad" /> 
        </div>
        <div class="col-xs-2">
            <input id='datetimepicker1' type="text" class="form-control" placeholder="Fecha y Hora" /> 
        </div>
<!--        <div class="col-xs-2">
        
            <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">Tipo Alquiler 1</option>
            <option value="2">Tipo Alquiler 2</option>
            </select>

        
        </div>-->
        
        <button type="submit" class="btn btn-primary" onclick="location.href='pages/lista_estacionamiento.html'">Buscar</button>
            
        
        </div>
        
        
    </nav>
    </section>
    <br/>
    <hr/>
    <section>
        <h2>Información General del Servicio</h2>
        <p>Les presentamos un sistema de búsqueda de estacionamiento vehicular, donde podrás encontrar y reservar tu espacio vehicular al lugar más cercano a tu comodidad.
        También, los propietarios de espacios para estacionar pueden ofrecerlos aqui. Brindamos el mejor estándar del mercado beneficiando tanto a nuestros usuarios finales, buscando la oportunidad de establecer con ellos relaciones de largo plazo.</p>
        
        
        
        
    </section>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr/>
    </article>