<html>
<head>
    
</head>
<body>
    <header>
        <!-- <img src='images/logo.png'/> -->
    </header>
    <nav>
        <ul>
            <li>Opcion1</li>
            <li>Opcion2</li>
            <li>Opcion3</li>
        </ul>
    </nav>
    <section>
    Instant Parking
    Bienvenido
    <article>
        Texto sobre el sitio
    </article>
    </section>
    <footer>
        Pie de Pagina
    </footer>
    
</body>
</html>