<section>
    <h3>Resultado de Busqueda: <h4>(3 Estacionamientos encontrados)</h4></h3>
</section>


<section>
<div class="container">
    <div class="well well-sm">

    <div id="products" class="row list-group">

        <div class="item  col-xs-3 col-lg-3">
            <div class="thumbnail">
                <img class="group list-group-image" src='/images/estacionamiento3.jpg' alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Los Rosales</h4>
                    <p class="group inner list-group-item-text">
                        Av. El Sol 549 - Monterrico - Lima 
                    </p>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h5>S/ 15.00 / Hora</h5>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Alquilar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-3 col-lg-3">
            <div class="thumbnail">
                <img class="group list-group-image" src='/images/estacionamiento2.jpg' alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Estacionamiento Central</h4>
                    <p class="group inner list-group-item-text">
                        Ca. Alfonso Ugarte 1234 - Lima - Lima
                    </p>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                             <h5>S/ 12.00 / Hora</h5>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Alquilar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="item  col-xs-3 col-lg-3">
            <div class="thumbnail">
                <img class="group list-group-image" src='/images/estacionamiento1.jpg' alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Los Portales</h4>
                    <p class="group inner list-group-item-text">
                        Av. Javier Prado Este 1506 - Surco - Lima
                    </p>
                    <br/>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            
                                <h5>S/ 30.00 / Hora</h5>
                            
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Alquilar</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
</div>
        
        <!--
        <div style="float:right">
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="https:/disclaimergenerator.net">disclaimer example</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(-12.1052081,-76.97092989999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-12.1052081,-76.97092989999999)});infowindow = new google.maps.InfoWindow({content:'<strong>InstaParking</strong><br>La encalada, surco, Lima, Peru<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
        </div>
        -->

</section>
