<%= content_for :header_title do %>

    ¿Qué es InstaParking?

<% end %>

<%= content_for :header_sub_title do %>

    

<% end %>
<p>Un sistema de búsqueda de estacionamiento vehicular, donde podrás encontrar y reservar tu espacio vehicular al lugar más cercano a tu comodidad. También, los propietarios de espacios para estacionar pueden ofrecerlos aqui.</p>
        