<h1>TÉRMINOS Y CONDICIONES</h1>
Condiciones de Pago
Podrá pagar con su tarjeta bancaria (tarjeta de crédito). El cobro en su cuenta bancaria se realizará a la conclusión del contrato de compraventa. El pago mediante tarjeta de crédito totalmente seguro. La totalidad de la transacción se realiza de forma cifrada a través de un servidor de validación bancaria utilizándose el protocolo de encriptación SSL (Secure Socket Layer), así pues, el número de tu tarjeta de crédito y la fecha de caducidad quedan instantáneamente encriptados en tu ordenador antes de ser enviados al protocolo SSL. Nadie podrá hacer uso de tus datos sin tu autorización, puesto que la información es ilegible. Para una mayor seguridad, estos datos no quedan almacenados en nuestro servidor, por lo cual deberás comunicarnos toda la información con cada nuevo pedido.
Aceptamos pagos con tarjeta Visa, Mastercard.

 

Devoluciones y Cancelación de la reserva de aparcamiento.
Las condiciones para la devolución y cancelación de la reserva de aparcamiento que a continuación se indican serán de aplicación sin perjuicio de los derechos que legalmente le asistan.

 

CANCELACIÓN DE LA RESERVA
Podrá cambiar de opinión y cancelar su reserva 24h antes del inicio de la misma. Si decide cancelar su reserva, le reembolsaremos el precio de compra completo,  PERO DEBERA HACERSE CARGO DE LOS COSTES DE LA GESTION BANCARIA(4,50€).

 

CÓMO CONTACTAR CON NOSOTROS.
info@serviparking.com

Teléfono: +58 910 22 82 76 - 651 52 07 51

<p>.</p>
